@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins:wght@300&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 5rem 9%;
}

/* home section */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.content .heding {
    border-left: 6px solid #156f5e;
}

.container .content {
    flex: 1 1 41rem;
}

span {
    color: #71a43e;
}

.container .content h1 {
    font-size: 5.5rem;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    color: #4f3907;
    padding-left: 1rem;
}

.container .content h2 {
    font-size: 3.1rem;
    margin: 2rem 0;
}

.container .content p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.btn {
    text-decoration: none;
    padding: 1.3rem 3.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: #686c8e;
    border-radius: .6rem;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.image {
    flex: 1 1 41rem;
}

.image img {
    width: 100%;
}

strong {
    font-size: 2rem;
    color: #685353;
}

/* about section */

.about h1 {
    text-align: center !important;
    font-size: 5rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
    margin: 5rem 0;
}

.card .bg1 {
    background: #dad6b6cf;
}

.card .bg2 {
    background: #b1b1b1;
}

.card .bg3 {
    background: #4f80ab;
}

.card .box {
    padding: 2.5rem 3rem;
    border-radius: 2rem;
}

.card .box .image {
    width: 45%;
}

.card .box .img {
    width: 100%;
}

.card .box h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

.card .box p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
}

/* develop section */

.develop {
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 24rem;
    background-position: left;
}

.develop .container .image {
    flex: 1 1 15rem;
}

.develop .container .content h1 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    padding: 0;
}

/* global section */

.global {
    background-image: url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 24rem;
    background-position: right;
    background-position-y: bottom;
}

.global .container .image {
    flex: 1 1 15rem;
}

.global .container .content h1 {
    padding: 1.5rem 0;
}

/* contact section start */

.heading {
    font-size: 4.5rem;
    color: #4c544f;
    text-align: center;
    padding: 5rem 0;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .image img {
    height: 68vh;
    width: 40vw;
}

.contact .row .form-contact {
    width: 50%;
    text-align: left;
    padding: 0 5rem;
}

.contact .row .form-contact input,
textarea {
    outline: none;
    border: none;
    height: 4rem;
    background: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .3);
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;
}

.contact .row .form-contact .inputbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact .row .form-contact .inputbox input[type="text"] {
    width: 49%;
}

.contact .row .form-contact input[type="email"] {
    width: 100%;
}

.contact .row .form-contact textarea {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    resize: none;
}

.contact .row .form-contact input[type="submit"] {
    background: #686c8e;
    color: #fff;
    cursor: pointer;
    height: 4rem;
    width: 10rem;
}

.contact .row .form-contact input[type="submit"]:hover {
    opacity: .8;
}

/* footer section */

.footer {
    text-align: center;
    background: #107979;
}

.footer h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #fff;
}

.footer p {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #fff;
}