@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Poppins:wght@300&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 5rem 9%;
}

/* home section */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.container .content {
    flex: 1 1 41rem;
}

span {
    color: #71a43e;
}

.container .content h1 {
    font-size: 5.5rem;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    color: #4f3907;
}

.container .content h2 {
    font-size: 3.1rem;
    margin: 2rem 0;
}

.container .content p {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.btn {
    text-decoration: none;
    padding: 1.3rem 3.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: #686c8e;
    border-radius: .6rem;
}

.image {
    flex: 1 1 41rem;
}

.image img {
    width: 100%;
}

strong {
    font-size: 2rem;
    color: #685353;
}

/* about section */

.about h1 {
    text-align: center !important;
    font-size: 5rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
    margin: 5rem 0;
}

.card .bg1 {
    background: #dad6b6cf;
}

.card .bg2 {
    background: #b1b1b1;
}

.card .bg3 {
    background: #4f80ab;
}

.card .box {
    padding: 2.5rem 3rem;
    border-radius: 2rem;
}

.card .box .image {
    width: 45%;
    height: 63%;
}

.card .box .img {
    width: 100%;
}

.card .box h2 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

.card .box p {
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

/* develop section */

.develop .container .image {
    flex: 1 1 15rem;
}

/* global section */

.global .container .image {
    flex: 1 1 15rem;
}

.footer {
    text-align: center;
    background: #107979;
}

.footer h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #fff;
}

.footer p {
    font-size: 2rem;
    padding-bottom: 2rem;
    color: #fff;
}